* {
	margin: 0;
	padding: 0;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
		sans-serif;
}

html,
body {
	height: 100%;
	min-height: 100%;
}

body {
	background: #262626;
}

h1 {
	color: #fff;
	margin: 3rem 0 2rem;
}

.chart {
	width: 100%;
	height: 100vh;
}

.settings {
	position: absolute;
	width: max-content;
	left: 5%;
	margin-top: 12px;
	grid-auto-flow: column;
	gap: 10px;
	z-index: 10;
	padding: 8px 18px;
	background: rgba(72, 72, 72, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.03);
	border-radius: 20px;
	backdrop-filter: blur(25px);
	color: #fff;
}

.btn {
	padding: 4px;
}

.container {
	max-width: 1230px;
	padding: 0 15px;
	margin: auto;
}

.compare {
	padding: 10px 0;
}

.compareSymbol {
	display: inline-block;
	padding: 7px 17px 7px 7px;
	border: 1px solid #000;
	background: #262626;
	border-radius: 4px;
	user-select: none;
}

.compareSymbol:hover {
	cursor: pointer;
	background: url(../../images/close.svg) no-repeat center right;
}
