.compare {
	padding: 10px 0;
}

.compareSymbol {
	display: inline-block;
	padding: 7px 17px 7px 7px;
	border: 1px solid #000;
	background: #262626;
	border-radius: 4px;
	user-select: none;
}

.compareSymbol:hover {
	cursor: pointer;
	background: url(../../images/close.svg) no-repeat center right;
}
